
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background-color: rgb(213, 244, 244);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 50px;

}


.note {
    width: 400px;
    height: 200px;
    resize: both;
    background-color: rgb(201, 170, 199);
    font-size: 20px;
    border-radius: 8px;
    color: rgb(12, 12, 91);
    padding: 15px;
}

.note-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.note::placeholder {
    color: rgb(213, 244, 244);
    opacity: 1;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    padding-top: 55px;
}

.btn {
    width: 175px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    display: block; 
    margin: 20px auto;
}

.deleteBtn {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
}